PORT=3000
WA_TOKEN=your_meta_access_token
PHONE_ID=your_phone_number_id
VERIFY_TOKEN=your_custom_webhook_verify_token
SHOP_NAME="My Custom Shop"
SUPPORT_CONTACT="support@myshop.com"
ADMIN_PHONE="1234567890"
SHEET_CSV_URL="https://docs.google.com/spreadsheets/d/.../pub?output=csv"
CATALOG_ID=your_catalog_id
